<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.airintelli.ssm.dao.InformMapper" >
  <resultMap id="BaseResultMap" type="com.airintelli.ssm.pojo.Inform" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="publishDate" property="publishdate" jdbcType="DATE" />
    <result column="details" property="details" jdbcType="VARCHAR" />
    <result column="publisher" property="publisher" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, publishDate, details, publisher
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from inform
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 分页查询 -->
 <select id="getpage"  parameterType="com.airintelli.ssm.pojo.PageBean"  resultType="com.airintelli.ssm.pojo.Inform"  >
  
  select
  <include refid="Base_Column_List" />
  from inform 
  <where>
  <!-- 模糊查询主题 -->
  <if  test="querycondition.firstcondition !=null and  querycondition.firstcondition!=''">
    and    title like  ${querycondition.firstcondition}
  </if>
  </where>
   order by publishDate desc
  limit #{pageRowes},#{pageSize}
  </select>
  <!-- 获得总记录数 -->
   <select id="pagecount"  parameterType="com.airintelli.ssm.pojo.PageBean"    resultType="java.lang.Integer" >
  select count(*)from inform 
  <where>
  <!-- 模糊查询主题 -->
  <if  test="querycondition.firstcondition !=null and  querycondition.firstcondition!=''">
    and    title like  ${querycondition.firstcondition}
  </if>
  </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from inform
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.airintelli.ssm.pojo.Inform" >
    insert into inform (id, title, publishDate, 
      details, publisher)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{publishdate,jdbcType=DATE}, 
      #{details,jdbcType=VARCHAR}, #{publisher,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.airintelli.ssm.pojo.Inform" >
    insert into inform
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="publishdate == null" >
        publishDate,
      </if>
      <if test="details != null" >
        details,
      </if>
      <if test="publisher != null" >
        publisher,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="publishdate == null" >
       now(),
      </if>
      <if test="details != null" >
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="publisher != null" >
        #{publisher,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.airintelli.ssm.pojo.Inform" >
    update inform
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="publishdate != null" >
        publishDate = #{publishdate,jdbcType=DATE},
      </if>
      <if test="details != null" >
        details = #{details,jdbcType=VARCHAR},
      </if>
      <if test="publisher != null" >
        publisher = #{publisher,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.airintelli.ssm.pojo.Inform" >
    update inform
    set title = #{title,jdbcType=VARCHAR},
      publishDate = #{publishdate,jdbcType=DATE},
      details = #{details,jdbcType=VARCHAR},
      publisher = #{publisher,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>